<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19 - Notre projet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div class="text">
        <div class= "logo">  
            <form >
                <input class="button1" type="button" value="Menu" onclick="window.location.href='/'" />
            </form>
        </div>
        <div class= "box-1">
            <form >
                <input class="button1" type="button" value="Notre projet" onclick="window.location.href='/notre_projet'" />
            </form> </div>

        <div class="box-2">
            <form >
                <input class="button1" type="button" value="Recherche par mots-clés" onclick="window.location.href='{{url_for('search')}}'" />
            </form> 
        </div>

        <div class="box-3">
            <form >
                <input class = "button1" type="button" value="Facteurs de risque" onclick="window.location.href='{{url_for('search_facteur')}}'" />
            </form>
        </div>
    
        <div class="corps">
        
          <form class="search_box_facteur" action="" method="post" novalidate>
              <p class="text_sb">Facteurs de risque à rechercher :</p>
              
              <p class="barre">
                {{ form.hidden_tag() }}
                  {{ form.select(size=32) }}
              </p>
              <p class="rechercher">{{ form.submit() }}</p>
          </form>
        </div>

          
      </div>

  </body>
</html>