<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div class="text">

        <div class= "header"> MENU </div>

      
        <div class="box-1">
          <form >
              <input class="button1" type="button" value="Recherche par mots-clés" onclick="window.location.href='{{url_for('search')}}'" />
          </form> 
        </div>

        <div class="box-2">
          <form >
              <input class = "button1" type="button" value="Facteurs de risque" onclick="window.location.href='{{url_for('search_facteur')}}'" />
          </form> 
        </div>

        <div class="footer">
          Juliette, Alex, Arnaud et Augustin 
        </div>

      </div>
  </body>
</html>