<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19</title>
  </head>
  <body>
    
    <hr>
        <h1> Résultats </h1>
        <p>Vous avez recherché : {{ keywords }}</p>

        {% for x in top %}
        <div> <a href="{{url_for('aff_article', n_article=x[0])}}" >{{ x[1] }}</a>
              <p>{{x[6]}},{{x[3]}}</p>
              <p>Texte complet : {% if full %} Oui {% else %} Non {% endif %}</p>
        </div> 
        
        {% endfor %}

        <a href="/">Home</a> 
  </body>
</html>   