<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    
    <div class="text3">
        <div class="header"> Résultats </div>

        
        <div class="resultats">
        <p class="text_rs">Vous avez recherché : {{ keywords }}</p>
        {% for i in range(5) %}
              <a class=link href="{{url_for('aff_article', n_article=top[i][0])}}" >{{ top[i][1] }}</a>
              <p class="details">{{top[i][6]}},{{top[i][3]}}</p>
              <p class="details">Texte complet : {% if list_full[i] %} Oui {% else %} Non {% endif %}</p>
        {% endfor %}
        </div> 
        
        

        <a class="footer" href="/">Menu</a> 
      </div>
  </body>
</html>   