<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    
    <div class="text3">
      <div class="header"> Résultats </div>

      <div class="resultats">
        <p class= "text_rs">Vous avez recherché :</p>
        {% for x in factors %}
          <div class="text_rs"> {{x}}</div> 
        {% endfor %}
      </div>

    </div>

    <a class="footer" href="/">Menu</a> 
  </body>
</html>   