<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CORD19</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    
    <div class="text2">
        <div class="header"> Facteurs de risque </div>
          <form class="search_box" action="" method="post" novalidate>
              <p class="text_sb">Facteurs de risque à rechercher :</p>
              
              <p class="barre">
                {{ form.hidden_tag() }}
                  {{ form.select(size=32) }}
              </p>
              <p class="rechercher">{{ form.submit() }}</p>
          </form>
        </div>

        <a class="footer" href="/">Menu</a>


  </body>
</html>