body{

    background-image : url("./fond2.jpg");
    color :black;

    font-family:Arial, Helvetica, sans-serif;
    

    
}


.text{
    display: grid;
    grid-template-columns:  50% 50% ;
    grid-template-rows:100px 500px 50px ;
    grid-template-areas: 
    " title title "
    " box1 box2 "
    "foot foot ";

   
    grid-row-gap: 10px;

    justify-items: center;
    align-items: stretch;

    justify-content: stretch;
}    

.text2{
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows:100px auto 50px ;
    grid-template-areas: 
    "title "
    " box "
    "foot";

   
    grid-row-gap: 10px;

    justify-items: center;
    align-items: stretch;

    justify-content: stretch;
}   

.text3{
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows:100px auto 50px ;
    grid-template-areas: 
    "title "
    "results "
    "foot";

   
    grid-row-gap: 10px;

    justify-items: center;
    align-items: stretch;

    justify-content: stretch;
}   

.text5{
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows:100px 500px 50px ;
    grid-template-areas: 
    "title "
    "results "
    "foot";

   
    grid-row-gap: 10px;

    justify-items: center;
    align-items: stretch;

    justify-content: stretch;
}
.text4{
    display: grid;
    grid-template-columns:  100% ;
    grid-template-rows:130px  auto 50px ;
    grid-template-areas: 
    "title "
    "text "
    "foot";

   
    grid-row-gap: 10px;

    justify-items: center;
    align-items: stretch;

    justify-content: stretch;
}  



.bib{
    grid-area: ref;
    background-color: white;
    padding:20px;
    width:90%;
    margin-left: 10%;
    margin-right: 10%;
}

.cite{
    font-size: 10px;
    background-color:rgb(236,240,241);
    margin-left: 300px;
    margin-right:600px;
    padding:10px;
}

.ref_title{
    color:midnightblue;
    font-weight: bold;
   
}
.text_aff{
    grid-area: text;
    background-color: white;
    padding:20px;
    width:90%;

}

.full_text{
    text-align: justify;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 50px;
    line-height: 1.7;
    
}
.resultats{
    grid-area: results;
    width:80%;
    background-color: white;


}

.search_box{
    background-color:rgb(236,240,241);
    width: 20%;
}   

.barre{
    
    text-align: center;
    
}

.rechercher{
    text-align: center;
    
}

.text_sb{
    color:black;
    font-size: 20px;
    text-align: left;
    padding:10px;
}

.text_re{
    color:black;
    font-size: 20px;
    text-align: left;
    padding:10px;
}



.header{
    grid-area: title;
    background-color:midnightblue;
    width:30%;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    color:white;
    
    

}

.box-1{
  
    grid-area: box1;
    text-align: center;
    width:95%;
    
    color: black; 
    

}

.box-2{
    grid-area: box2;
   
    text-align: center;
    width: 95%;
}

.button1 {
    width: 70%;
    background-color: midnightblue; 
    color: black; 
    border: 2px solid midnightblue;
    transition-duration: 0.4s;
    font-size: 30px;
    color:white;
    margin-top: 100px;
    padding-top:100px ;
    padding-bottom:100px ;

}
  
.button1:hover {
  background-color: white; /* Green */
  color:black;
  
}


.footer{
    grid-area: foot;
    width: 95%;
    color: white;
}


.title{
    grid-area: title;
    background-color: white;
    color: midnightblue;
    font-size: 25px;
    width: 90%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px ;
   
    text-align: center;
}





.subtitle{
    font-size: 24px;
    color: midnightblue;
}
.link{
    font-size: 20px;
    color: midnightblue;
}
.details{
    font-size: 10px;

}




.resultats{
    width: 0.95 ;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: whitesmoke;
}
/* pour insérer une ligne, un saut de ligne plutot*/
.hline { width:100%; height:5px }





